openstack_tenant = "project-name"
openstack_username = "username"
openstack_password = "password"
openstack_auth_url = ""

# The SSH keypair used to bootstrap the system
keypair = ""

# The network in openstack exposed to the external network (floating)
external_network_id = ""

# ETCD data volumes
etcd_data_volume_1 = ""
etcd_data_volume_2 = ""
etcd_data_volume_3 = ""

# Openstack Image Ids for Servers
etcd_image_id = ""
controller_image_id = ""
worker_image_id = ""

# you can generate your secret with "head -c 32 /dev/urandom | base64"
kubernetes_encryption_secret = ""
