openstack_tenant = "project-name"
openstack_username = "username"
openstack_password = "password"
openstack_auth_url = ""

# The SSH keypair used to bootstrap the system
keypair = ""

# The network in openstack exposed to the external network (floating)
external_network_id = ""

# RMT data volumes
etcd_data_volume_1 = ""
etcd_data_volume_2 = ""
etcd_data_volume_3 = ""
